/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
html {
	font-family: 'Poppins', sans-serif;
}

h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}
a {
	@apply text-blue-600;
}

@tailwind components;

@tailwind utilities;

.ReactModal__Overlay {
	z-index: 100;
	opacity: 0;
	transition: all 350ms ease-in-out;
	transform-origin: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}
