/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}
a {
	@apply text-blue-600;
}

@tailwind components;

@tailwind utilities;

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 0.5s linear infinite;
	animation: spinner 0.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
